<div id="index-flats">
<h1>Page index des flats</h1>
<%= render "shared/search_bar" %>
<%= render "shared/bouton_filter" %>
<div class="flats-main">
    <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
          <div class="col-xs-6">
            <div class="card">
              <p><%= flat.name %></p>
              <p><%= flat.address %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <div class="map index"></div>

</div>

