<div class="container_login_long banner-flat" style="background-image: url('http://res.cloudinary.com/dwkqph9as/image/upload/v1511970291/BannerImage_vp7iqa.jpg');">
  <div class="form_card">
    <h2 style=" color: black;">New Flat</h2>
    <%= render "flats/form" %>
  </div>
</div>
    <%= render "shared/footer" %>


