
<div class="card" >
  <div class="card-description">
    <h2>Hello <%=@profile.first_name.capitalize%> !</h2>
    <p><%=@profile.city.upcase%></p>
  </div>
  <%= cl_image_tag @profile.photo, class: "card-user"%>
</div>
