<div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(87,45,34,0.6) 0%, rgba(156,78,57,0.6) 50%), url('http://res.cloudinary.com/dwkqph9as/image/upload/v1511970291/BannerImage_vp7iqa.jpg');">
  <div class="banner-content-home">
    <div class="haut">
      <h1>My list of cocktails</h1>
        <a class="btn btn-primary btn-lg"><%= link_to "nouveau cocktail", new_cocktail_path %></a>
    </div>
  </div>
</div>
