
<ul class="bouton-filter">
  <li class="bouton-filter">Dates</li>
  <li class="bouton-filter">Guests</li>
  <li class="bouton-filter">Room Type</li>
  <li class="bouton-filter">Price</li>
  <li class="bouton-filter">Amenities</li>
</ul>
