<div class="block">
  <div class="group1">
    <div class="features-flat">
      <p><input type="checkbox" checked = false name="my_cb" value="1"/>
      <input type="hidden" name="my_cb" value="0"/></p>
      <p><i class='fa fa-television' aria-hidden='true'></i></p>
      <p><strong>Fully furnished</strong><br>
    Just bring you. We’ve got everything you need!</p>
    </div>

    <div class="features-flat">
      <p><input type="checkbox" checked = true name="my_cb" value="1"/>
      <input type="hidden" name="my_cb" value="0"/></p>
      <p><i class='fa fa-bed' aria-hidden='true'></i></p>
      <p><strong>Private Bedroom</strong><br>
    A space to call your own. Choose a room designed for singles or couples.</p>
    </div>

    <div class="features-flat">
      <p><input type="checkbox" checked = false name="my_cb" value="1"/>
      <input type="hidden" name="my_cb" value="0"/></p>
      <p><i class='fa fa-wifi' aria-hidden='true'></i></p>
      <p><strong>Superfast WiFi</strong><br>
    Whether working from home or watching latest HBO, you are covered.</p>
    </div>
  </div>

  <div class="group2">
    <div class="features-flat">
      <p><input type="checkbox" checked = false name="my_cb" value="1"/>
      <input type="hidden" name="my_cb" value="0"/></p>
      <p><i class='fa fa-users' aria-hidden='true'></i></p>
      <p><strong>Community happenings</strong><br>
    It’s better together. You’ll find there’s always something fun going on at home.</p>
    </div>

    <div class="features-flat">
      <p><input type="checkbox" checked = false name="my_cb" value="1"/>
      <input type="hidden" name="my_cb" value="0"/></p>
      <p><i class='fa fa-pencil-square-o' aria-hidden='true'></i></p>
      <p><strong>Utilities covered</strong><br>
    Your home is completely ready for you: electricity, water, heat etc are included.</p>
    </div>

    <div class="features-flat">
      <p><input type="checkbox" checked = false name="my_cb" value="1"/>
      <input type="hidden" name="my_cb" value="0"/></p>
      <p><i class='fa fa-paw' aria-hidden='true'></i></p>
      <p><strong>pets allowed</strong><br>
      A space to call yours. Choose a room designed to accommodate animals or not.</p>
    </div>
  </div>
</div>
