<div class="formulaire-flat">
  <div class="formulaire-content">
    <p><%= link_to 'Book this room', new_flat_rent_path(@flat), class: 'btn btn-primary' %></p>
    <h1><%= @flat.name %></h1>
    <p><%= @flat.description %></p>
  </div>
</div>
