.bouton-filter {
  display: flex;
}
.bouton-filter li {
  height: 45px;
  background-color: #F0F0F0;
  font-family: Avenir;
  font-size: 15px;
  list-style: none;
  border: solid 1px;
  border-radius: 29.5px;
  text-align: center;
  line-height: 45px;
  padding: 0px 20px 0px 20px;
  margin-right: 15px;
}
