.container_show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  vertical-align: center;



}
.show_profile {
background-color: #DDDDDD;
border-radius: 5px;

}
.profile_photo{
  height: 250px;
  width: 200px;
  top: 100px;
  border-radius:5px;
  margin-top: 25px;

}
.container_show {

}
.container_show2 {
margin-top: 50px;

margin-left: 25px;
margin-right: 25px;
}
