.container_show {
  display: flex;
  position: left;

.title_show {
  margin-top: 25px;
  margin-left: 50px;
  left: 200px;
  color: #9A9B94;

}

}
.show_profile {
font-weight: lighter;
color: #9A9B94;



}
.profile_photo{
  height: 250px;
  margin-left: 25px;
  top: 100px;
  border-radius:5px;
  margin-top: 25px;

}
.container_show {

}
.container_show2 {
margin-top: 50px;
border-bottom: 2px solid rgba(220,224,244,0.4);
margin-left: 25px;
margin-right: 25px;

}
