.container_show {
  display: flex;
  position: left;

.title_show {
  margin-top: 25px;
  margin-left: 50px;
  left: 200px;


}

}
.show_profile2 {





}
.show_profile2 h4 {
  line-height: 10px;
  font-style: 20px;

}
.profile_photo{
  height: 250px;
  margin-left: 25px;
  top: 100px;
  border-radius:5px;
  margin-top: 25px;

}
.container_show {

}
.container_show2 {
  font-weight: 50;
  margin-top: 50px;
  border-bottom: 2px solid rgba(220,224,244,0.4);
  margin-left: 210px;
  margin-right: 25px;

}
.amend {
  color: red;
  font-size:20px;
  font-weight: 100;
}
.amend:hover {
  color: black;
  text-decoration: none;
}
