.card_login {

  width: 300px;
  text-align: center;
  background-color: #F0F0F0;
  opacity: 70%;
  border-radius: 5px;
  opacity: 0.8;
  padding: 20px;


}
.card_login h2 {
  color: black;
}
.card_login .form-inputs {
  color: black;
}
.container_login {
  display: flex;
  justify-content: center;
  vertical-align: center;
  height: calc(100vh - 70px);

}
.container_login_long {
  display: flex;
  justify-content: center;
  vertical-align: center;
  height: calc(180vh - 70px);

}
